/*Colores titulo*/
.coloresT
{
    color: rgb(9, 211, 19);
}
/*Colores parrafo*/
.coloresP
{
    color: rgb(9, 211, 19);
}
/*Colores Gato perro*/
.coloresGP
{
    color: rgb(0, 0, 0);
}

/*color de fondo*/

.fondo
{
    background-color: rgba(214, 236, 14, 0.555);
}

/*centrado de pagina*/
.centrar
{
    text-align: center;
}

/*Menu*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(25, 0, 255);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #7e7e7e;
  }
