/*Parrafo*/
.parrafo
{
  color: rgb(0, 0, 0);
  font-family: 'Tilt Warp', cursive;
}
/*Gatos perros*/
.gatoPerro
{
  color: rgb(0, 0, 0);
  font-family: 'Roboto Condensed', sans-serif; 
}
/*Titulo*/
.titulo{
  color: rgb(108, 11, 187);
  font-family: 'Righteous', cursive;  
}

/*color de fondo*/
.fondo
{
  background-image: url("../img/cookies-for-dogs-in-the-form-of-bones-seamless-pattern-healthy-treat-for-pets-cartoon-pattern-is-suitable-for-printing-on-paper-and-fabric-vector.webp");
  background-color: rgba(214, 236, 14, 0.555);
}

/*centrado de pagina*/
.centrar
{
    text-align: center;
}

/*Menu*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(238, 177, 8);
  }
  
  li {
    float:left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #7e7e7e;
  }

  /*centrado y tamaño de imagenes*/

  .imggp
   {
  display: block;
  width: 70%; ;
  max-width: 70%;
  margin-left: auto;
  margin-right: 0%;
}
.img
   {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


